* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 4vw;
}

.choice:hover {
  height: 16vw;
  width: 16vw;
  border: 5px solid black;
  border-radius: 50%;
}

img {
  height: 16vw;
  width: 16vw;
  border-radius: 50%;
  object-fit: cover;
}

.score-board {
  display: flex;
  gap: 1vw;
  background-color: black;
  color: aliceblue;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.you,
.comp {
  padding: 0.9rem;
  font-size: 2.5vw;
}

#you-score,
#comp-score {
  padding: 1rem;
}

#result {
  color: aliceblue;
  background-color: black;
  margin-top: 1vh;
  padding: 1rem;
  font-size: 2vw;
  text-align: center;
  border-radius: 1rem;
  animation-duration: 2s;
}

.win {
  animation-name: win-animation;
}

@keyframes win-animation {
  0% {
    background-color: black;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: black;
  }
}

.lose {
  animation-name: lose-animation;
}

@keyframes lose-animation {
  0% {
    background-color: black;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: black;
  }
}

.draw {
  animation-name: draw-animation;
}

@keyframes draw-animation {
  0% {
    background-color: black;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: black;
  }
}

@media (max-width: 768px) {
  .choices {
    gap: 2vw;
  }

  .choice:hover {
    height: 30vw;
    width: 30vw;
    border: 3px solid black;
  }

  img {
    height: 30vw;
    width: 30vw;
  }

  .you,
  .comp {
    font-size: 6vw;
  }

  #you-score,
  #comp-score {
    font-size: 4vw;
  }

  #result {
    font-size: 6vw;
  }
}

@media (max-width: 576px) {
  .choices {
    gap: 1vw;
  }

  .choice:hover {
    height: 25vw;
    width: 25vw;
    border: 3px solid black;
  }

  img {
    height: 25vw;
    width: 25vw;
  }

  .you,
  .comp {
    font-size: 5vw;
  }

  #you-score,
  #comp-score {
    font-size: 5vw;
  }

  #result {
    font-size: 5vw;
  }
}
